.displaygrid{
    padding:1%;
    border-style:solid;
    margin:1%;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:repeat(20,5%);
    

}
.title{
    padding:1%;
    grid-column:1/3;
    grid-row:1/3;
    font-weight:bold;
    font-size:2vw
}
.genre{
    overflow:hidden;
}
.actos{
    overflow:hidden;
}
.poster{
    grid-row:3/21;
    width:60%;
}

.plot{
    grid-row:10/20;
    overflow: auto;
}

.button{
    grid-row:20/21;
}

